@import '~/public/styles/base.scss';

.form-cf {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 32px;
  width: 555px;
  padding: 45px 90px;
  align-items: center;
  height: max-content;

  &__title {
    font-family: $font-darker;
    font-weight: 800;
    color: #303030;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 32px;
  }
}

@import './responsive';
